.preloader {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.lds-dual-ring {
  display: inline-block;
  width: 160px;
  height: 160px;
}

.lds-dual-ring::after {
  content: ' ';
  display: block;
  width: 115px;
  height: 115px;
  margin: 1px;
  border-radius: 50%;
  border: 4px solid;
  border-color: rgba(0, 0, 0, 0.65) transparent rgba(0, 0, 0, 0.65) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
