<section id="intro" class="bg-light">
  <div class="heading-block">
    <h1>Let's Bring Green Light Everywhere</h1>
    <p>By cooperate with people around us we can make our planet greener and cleaner. Don't stop here sign up and start taking actions right now.</p>
    <div class="topmargin-lg">
      <a (click)="onSignIn()" class="primary-btn"><i class="icon ion-md-play-circle"></i>Sign In</a>
      <a (click)="onSignUp()" class="secondary-btn"><i class="icon ion-md-appstore"></i>Sign Up</a>
    </div>
  </div>
</section>

<section class="bg-dark">
  <div class="heading-block">
    <h3 class="text-light">Built for scale</h3>
    <p class="text-light">By cooperate with people around us we can make our planet greener and cleaner. Don't stop here
      and sign up right now.</p>
  </div>
  <div class="text-center topmargin-lg">
    <img src="/assets/images/iphone.png" class="img-fluid mobile-app" alt="iphone image by Zee Swift">
  </div>
  <div class="heading-block">
    <h3 class="text-light topmargin-sm">Download it now</h3>
    <div class="topmargin-sm">
      <a href="#" class="primary-btn"><i class="icon ion-logo-apple"></i> App Store</a>
      <a href="#" class="primary-btn"><i class="icon ion-md-play"></i> Google Play</a>
    </div>
    <small class="topmargin-sm text-light">Etiam sagittis iaculis facilisis. Nulla id tincidunt
      sapien. Vivamus dapibus neque a feugiat dapibus.</small>
  </div>
</section>

<section class="bg-light">
  <div class="heading-block">
    <h3>Mobile Plans</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
      totam rem aperiam, eaque ipsa.</p>
  </div>
  <div class="clr-row topmargin-lg">
  </div>
</section>

<section id="footer" class="bg-dark">
  <div class="text-center">
    <a href="#"><img src="/assets/images/logo-light.svg" class="img-responsive logo-footer"
                     alt="logo Mobile App | Themes Bootstrap"></a>
    <ul class="list-inline topmargin-sm">
      <li class="list-inline-item mobile-list"><a class="footer-link" target="_blank" href="#">Home</a></li>
      <li class="list-inline-item mobile-list"><a class="footer-link" target="_blank" href="#">Features</a>
      </li>
      <li class="list-inline-item mobile-list"><a class="footer-link" target="_blank" href="#">Blog</a></li>
      <li class="list-inline-item mobile-list"><a class="footer-link" target="_blank" href="#">Pricing</a>
      </li>
      <li class="list-inline-item mobile-list"><a class="footer-link" target="_blank" href="#">Contact</a>
      </li>
    </ul>

    <ul class="list-inline topmargin-sm">
      <li class="list-inline-item"><a class="footer-link" target="_blank" href="#"><i
        class="icon ion-logo-instagram"></i></a></li>
      <li class="list-inline-item"><a class="footer-link" target="_blank" href="#"><i
        class="icon ion-logo-twitter"></i></a></li>
      <li class="list-inline-item"><a class="footer-link" target="_blank" href="#"><i
        class="icon ion-logo-youtube"></i></a></li>
      <li class="list-inline-item"><a class="footer-link" target="_blank" href="#"><i
        class="icon ion-logo-dribbble"></i></a></li>
      <li class="list-inline-item"><a class="footer-link" target="_blank" href="#"><i
        class="icon ion-logo-facebook"></i></a></li>
    </ul>
    <small class="topmargin-sm">©2020 All Rights Reserved. Green Light®</small>
  </div>
</section>
