.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.short-info-holder {
  display: block;
}

.info {
  display: inline-block;
  margin: 1rem;
  vertical-align: middle;
  line-height: 1rem;
}

.author {
  display: block;
}

.date {
  display: block;
}
